In [12]:
import pandas as pd
import pathlib
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [13]:
data_dir = pathlib.Path('./data')
save_dir = data_dir/"tracking_weeks"

In [14]:
# map idx to game/playid
if  not save_dir.exists():
    # idx_df = pd.DataFrame()
    # dfs = []

    for file_path in data_dir.glob("tracking_week_*.csv"):
        tracking_df = pd.read_csv(file_path, dtype_backend='pyarrow')
        # club, club_factor = pd.factorize(tracking_df['club'])
        # plays_in_week = pd.DataFrame(
        #     tracking_df[['gameId', 'playId', 'dir']].groupby(['gameId', 'playId']) \
        #         .count().reset_index().drop('dir', axis='columns'))
        tracking_df.to_parquet(save_dir, partition_cols=["gameId", "playId"])
    players_df = pd.read_csv(data_dir/'players.csv', dtype_backend='pyarrow')
    players_df.to_parquet(data_dir/'players.parquet')
    target_df = pd.read_csv(data_dir/'plays.csv', dtype_backend='pyarrow')
    target_df.to_parquet(data_dir/'target.parquet')
    del tracking_df, plays_in_week, players_df, target_df

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022090800,56,35472,Rodger Saffold,1,2022-09-08 20:24:05.200000,76,BUF,left,88.37,27.27,1.62,1.15,0.16,231.74,147.90,<NA>
1,2022090800,56,35472,Rodger Saffold,2,2022-09-08 20:24:05.299999,76,BUF,left,88.47,27.13,1.67,0.61,0.17,230.98,148.53,pass_arrived
2,2022090800,56,35472,Rodger Saffold,3,2022-09-08 20:24:05.400000,76,BUF,left,88.56,27.01,1.57,0.49,0.15,230.98,147.05,<NA>
3,2022090800,56,35472,Rodger Saffold,4,2022-09-08 20:24:05.500000,76,BUF,left,88.64,26.90,1.44,0.89,0.14,232.38,145.42,<NA>
4,2022090800,56,35472,Rodger Saffold,5,2022-09-08 20:24:05.599999,76,BUF,left,88.72,26.80,1.29,1.24,0.13,233.36,141.95,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407434,2022091200,3826,<NA>,football,49,2022-09-12 23:05:57.799999,<NA>,football,left,56.22,9.89,2.56,1.25,0.25,<NA>,<NA>,tackle
1407435,2022091200,3826,<NA>,football,50,2022-09-12 23:05:57.900000,<NA>,football,left,56.06,10.08,2.50,1.14,0.24,<NA>,<NA>,<NA>
1407436,2022091200,3826,<NA>,football,51,2022-09-12 23:05:58.000000,<NA>,football,left,55.89,10.27,2.38,1.70,0.25,<NA>,<NA>,<NA>
1407437,2022091200,3826,<NA>,football,52,2022-09-12 23:05:58.099999,<NA>,football,left,55.73,10.44,2.07,2.83,0.24,<NA>,<NA>,<NA>
1407438,2022091200,3826,<NA>,football,53,2022-09-12 23:05:58.200000,<NA>,football,left,55.57,10.57,1.86,3.00,0.20,<NA>,<NA>,<NA>

In [16]:
pd.read_parquet(r'C:\Users\Morri\Documents\Notebooks\Deep_Learning\Project\data\test\tracking_weeks\gameId=2022090800')['playId'].unique()

<ArrowExtensionArray>
[ 122, 1286, 1563, 1736,  191, 1946, 2043, 2163, 2184,  236, 2360, 2506, 2572,
 2599, 2648, 2688,  299, 3092, 3304, 3341, 3636,  393,  414,  529,  692,  896,
  933]
Length: 27, dtype: int64[pyarrow]

In [18]:
27/.2 * 14 * 9

17010.0

In [ ]:

pd.read_parquet()

Generating play index

Generating dictionary for weeks

In [8]:
# dfs = []
# rangedict = {}
# for i in range(1, 9):
#     filename = f"data/tracking_week_{i}.csv"
#     tdf = pd.read_csv(filename)
#     # Use .astype(int) to ensure the values are stored as integers
#     max_value = int(tdf['gameId'].max())
#     min_value = int(tdf['gameId'].min())
#     rangedict[i] = {'Week': f"Week {i}", 'Max': max_value, 'Min': min_value}

# range_df = pd.DataFrame.from_dict(rangedict, orient='index')

# range_df.reset_index(drop=True, inplace=True)


# range_df.to_csv("data/weeks.csv")
# range_df

     Week         Max         Min
0  Week 1  2022091200  2022090800
1  Week 2  2022091901  2022091500
2  Week 3  2022092600  2022092200
3  Week 4  2022100300  2022092900
4  Week 5  2022101000  2022100600
5  Week 6  2022101700  2022101300
6  Week 7  2022102400  2022102000
7  Week 8  2022103100  2022102700

In [10]:
tp = pd.read_parquet("data/tracking_weeks/gameId=2022090800")
tp

,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event,globalPlayIndex,playId
0,35472.00,Rodger Saffold,1,2022-09-08 20:25:08.200000,76.00,BUF,left,73.13,27.64,0.01,0.01,0.00,267.95,182.22,None,2022090800101,101
1,35472.00,Rodger Saffold,2,2022-09-08 20:25:08.299999,76.00,BUF,left,73.13,27.64,0.01,0.01,0.00,267.95,182.56,None,2022090800101,101
2,35472.00,Rodger Saffold,3,2022-09-08 20:25:08.400000,76.00,BUF,left,73.13,27.63,0.01,0.01,0.00,267.95,182.15,None,2022090800101,101
3,35472.00,Rodger Saffold,4,2022-09-08 20:25:08.500000,76.00,BUF,left,73.13,27.64,0.00,0.01,0.01,274.37,179.54,None,2022090800101,101
4,35472.00,Rodger Saffold,5,2022-09-08 20:25:08.599999,76.00,BUF,left,73.13,27.65,0.00,0.25,0.01,274.95,1.03,None,2022090800101,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79207,NaN,football,9,2022-09-08 21:00:30.700000,NaN,football,right,46.32,1.03,1.07,0.55,0.11,NaN,NaN,out_of_bounds,2022090800980,980
79208,NaN,football,10,2022-09-08 21:00:30.799999,NaN,football,right,46.33,0.93,0.94,0.83,0.09,NaN,NaN,None,2022090800980,980
79209,NaN,football,11,2022-09-08 21:00:30.900000,NaN,football,right,46.33,0.84,0.88,1.11,0.09,NaN,NaN,None,2022090800980,980
79210,NaN,football,12,2022-09-08 21:00:31.000000,NaN,football,right,46.34,0.76,0.83,1.02,0.09,NaN,NaN,None,2022090800980,980
79211,NaN,football,13,2022-09-08 21:00:31.099999,NaN,football,right,46.62,0.74,1.27,2.50,0.28,NaN,NaN,None,2022090800980,980