In [19]:
import pandas as pd
import torch
import sys
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [ ]:
rangedict = {}
for i in range(1,9):
    filename = f"data/tracking_week_{i}.csv"
    tdf = pd.read_csv(filename)
    # dfs.append(tdf)
    tdf['gameId'] = tdf['gameId'].astype(str)
    tdf['playId'] = tdf['playId'].astype(str)
    # Concatenate gameId and playId to create a global play index
    tdf['globalPlayIndex'] = tdf['gameId'] + tdf['playId']
    tdf.to_parquet(f"data/tracking_week_{i}", partition_cols=["gameId", "playId"])

Generating play index

Generating dictionary for weeks

In [4]:
dfs = []
rangedict = {}
for i in range(1, 9):
    filename = f"data/tracking_week_{i}.csv"
    tdf = pd.read_csv(filename)
    # Use .astype(int) to ensure the values are stored as integers
    max_value = int(tdf['gameId'].max())
    min_value = int(tdf['gameId'].min())
    rangedict[i] = {'Week': f"Week {i}", 'Max': max_value, 'Min': min_value}

range_df = pd.DataFrame.from_dict(rangedict, orient='index')

range_df.reset_index(drop=True, inplace=True)


range_df.to_csv("data/weeks.csv")

In [21]:
tp = pd.read_parquet("data/tracking_week_1")
tp

,Unnamed: 0,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event,globalPlayIndex,gameId,playId
0,1196,35472.00,Rodger Saffold,1,2022-09-08 20:25:08.200000,76.00,BUF,left,73.13,27.64,0.01,0.01,0.00,267.95,182.22,None,2022090800101,2022090800,101
1,1197,35472.00,Rodger Saffold,2,2022-09-08 20:25:08.299999,76.00,BUF,left,73.13,27.64,0.01,0.01,0.00,267.95,182.56,None,2022090800101,2022090800,101
2,1198,35472.00,Rodger Saffold,3,2022-09-08 20:25:08.400000,76.00,BUF,left,73.13,27.63,0.01,0.01,0.00,267.95,182.15,None,2022090800101,2022090800,101
3,1199,35472.00,Rodger Saffold,4,2022-09-08 20:25:08.500000,76.00,BUF,left,73.13,27.64,0.00,0.01,0.01,274.37,179.54,None,2022090800101,2022090800,101
4,1200,35472.00,Rodger Saffold,5,2022-09-08 20:25:08.599999,76.00,BUF,left,73.13,27.65,0.00,0.25,0.01,274.95,1.03,None,2022090800101,2022090800,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407434,1347680,NaN,football,42,2022-09-12 20:57:18.599999,NaN,football,left,89.57,28.89,2.16,0.76,0.22,NaN,NaN,tackle,2022091200983,2022091200,983
1407435,1347681,NaN,football,43,2022-09-12 20:57:18.700000,NaN,football,left,89.41,28.98,1.98,0.91,0.19,NaN,NaN,None,2022091200983,2022091200,983
1407436,1347682,NaN,football,44,2022-09-12 20:57:18.799999,NaN,football,left,89.27,29.06,1.73,1.34,0.16,NaN,NaN,None,2022091200983,2022091200,983
1407437,1347683,NaN,football,45,2022-09-12 20:57:18.900000,NaN,football,left,89.17,29.12,1.39,1.98,0.12,NaN,NaN,None,2022091200983,2022091200,983
1407438,1347684,NaN,football,46,2022-09-12 20:57:19.000000,NaN,football,left,89.05,29.18,1.15,2.14,0.13,NaN,NaN,None,2022091200983,2022091200,983